* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    .header {
        
        width: 100%;
        color: white;
        background-color: rgb(110, 109, 109);
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 300px;
        position: relative;
        
        .firstLine {
            margin-top: 50px;
            font-weight: 250;
            font-size: 14px;
        }
        .secondLine {
            font-size: 27px;

        }
        .thirdLine {
            font-size: 10px;
            margin: 30px 0 30px 0;
            
        }
        .buttonList {
            list-style: none;
            display: flex;
            .button {
                height: 27px;
                width: 115px;
                background-color: white;
                color: rgb(173, 173, 173);
                font-size: 10px;
                border-radius: 3px;
                border: 1px solid whitesmoke;
                margin: 0 15px 0 15px;
                box-shadow: 0px 2px 2px rgb(112, 112, 112);
            }
        }
    }
    .triangle {
        
        width: 100%;
        height: 120px;
        background-color: white;
        transform: rotate(5deg) skewX(5.5deg) scaleX(1.005) scaleY(1.2);
        position: absolute;
        top: 240px;
        
    }

    .section1 {

        color: rgb(173, 173, 173);
        width: 50%;
        position: relative;
        z-index: 1;
        display: flex;
        justify-content: center;
        
        
        .leftSide {
            width: 65%;
            padding-right: 20px;
            .title {
                margin-bottom: 15px;
                font-weight: 250;
                font-size: 14px;
            }
            p {
                font-size: 10px;
                margin-bottom: 10px;
            }
        }
        .rightSide {
            width: 35%;
            padding-left: 20px;
            form {
                display: flex;
                justify-content: center;
                flex-direction: column;
                label {
                    font-size: 10px;
                    margin-bottom: 5px;;
                }
                input {
                    margin-bottom: 15px;
                }
                .man, .woman {
                    margin-right: 20px;
                }
                .radio {
                    width: 10px;
                    
                }
            }
            .buttonSubmit {
                background-color: white;
                width: 100%;
                height: 30px;
                border-radius: 3px;
                border: 1px solid rgb(151, 151, 151);
                color: rgb(173, 173, 173);
                font-size: 12px;
                cursor: pointer;
            }
        }
    }

}