:root {
  --firstColor: #FFFF;
  --secondColor: #686868;
  --thirdColor: #999999;
  --fourthColor: #00000029;
  --darkWhieSmoke: rgb(230, 230, 230);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  letter-spacing: 0;
}

body .header {
  width: 100%;
  color: white;
  background-color: var(--secondColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 500px;
  position: relative;
}

body .header .firstLine {
  margin-top: 72px;
  font-weight: 250;
  font-size: 23px;
  color: var(--darkWhieSmoke);
}

body .header .secondLine {
  margin-top: 4px;
  font-size: 45px;
}

body .header .thirdLine {
  font-size: 16px;
  margin: 30px 0 30px 0;
  color: var(--darkWhieSmoke);
}

body .header .buttonList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

body .header .buttonList .button {
  height: 44px;
  width: 175px;
  background-color: var(--firstColor);
  color: var(--thirdColor);
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid var(--fourthColor);
  margin: 0 25px 0 25px;
  -webkit-box-shadow: 0px 1px 6px var(--fourthColor);
          box-shadow: 0px 1px 6px var(--fourthColor);
  cursor: pointer;
}

body .header .triangle {
  width: 100%;
  height: 300px;
  background-color: var(--firstColor);
  -webkit-transform: rotate(4deg) skewX(3.6deg) scaleX(1.003);
          transform: rotate(4deg) skewX(3.6deg) scaleX(1.003);
  position: absolute;
  top: 366px;
}

body .section1 {
  color: #adadad;
  width: 1000px;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section1 .leftSide {
  width: 60%;
  padding-right: 20px;
}

body .section1 .leftSide .title {
  margin-bottom: 32px;
  font-weight: 250;
  font-size: 23px;
  color: var(--thirdColor);
}

body .section1 .leftSide p {
  font-size: 14px;
  margin-bottom: 26px;
  color: var(--thirdColor);
}

body .section1 .rightSide {
  width: 40%;
  padding-left: 20px;
}

body .section1 .rightSide form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .section1 .rightSide form label {
  color: var(--thirdColor);
  font-size: 14px;
  margin-bottom: 5px;
  -webkit-transition-duration: 3000ms;
          transition-duration: 3000ms;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
}

body .section1 .rightSide form input {
  margin-bottom: 15px;
  width: 340px;
  height: 30px;
  border: 1px solid var(--secondColor);
  -webkit-transition-duration: 1000ms;
          transition-duration: 1000ms;
}

body .section1 .rightSide form .correctValidation {
  color: green;
  font-weight: bold;
}

body .section1 .rightSide form .errorLabel {
  color: #b13b3b;
}

body .section1 .rightSide form .errorInput {
  border: 3px solid red;
  color: red;
}

body .section1 .rightSide form .box_check_error {
  width: 210px;
  border: 2px solid red;
  border-radius: 4px;
}

body .section1 .rightSide form .man, body .section1 .rightSide form .woman {
  margin-right: 20px;
}

body .section1 .rightSide form .radio {
  display: none;
}

body .section1 .rightSide form .radio + label:before {
  content: "";
  width: 14px;
  height: 14px;
  border-radius: 8px;
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

body .section1 .rightSide form .radio:checked + label:before {
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 6px solid var(--secondColor);
}

body .section1 .rightSide .buttonSubmit {
  background-color: var(--firstColor);
  border: 1px solid var(--secondColor);
  width: 340px;
  height: 39px;
  padding: 0 30px;
  margin-top: 15px;
  border-radius: 4px;
  font-size: 18px;
  cursor: pointer;
  color: var(--thirdColor);
}

body .section2 {
  border-top: 2px solid var(--thirdColor);
  margin-top: 95px;
  padding-top: 55px;
  width: 1000px;
  height: 1000px;
}

body .section2 .separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section2 .separator span {
  color: var(--thirdColor);
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  letter-spacing: -0.5px;
  margin-top: -70px;
  position: absolute;
  padding: 3.5px 20px 0 20px;
}

body .section2 .productList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .section2 .productList .product {
  width: 220px;
  margin: 10px;
}

body .section2 .productList .product .productImage {
  width: 220px;
  height: 170px;
}

body .section2 .productList .product .productName {
  font-size: 16px;
  color: var(--thirdColor);
  margin: 10px 0;
}

body .section2 .productList .product .productDescription {
  font-size: 14px;
  color: var(--thirdColor);
  margin: 10px 0;
}

body .section2 .productList .product .productOldValue {
  font-size: 14px;
  color: var(--thirdColor);
  margin: 10px 0;
}

body .section2 .productList .product .productCurrentValue {
  margin: 5px 0;
  color: var(--secondColor);
  font-weight: bold;
  font-size: 19px;
}

body .section2 .productList .product .productPaymentOption {
  font-size: 14px;
  margin: 5px 0;
  color: var(--thirdColor);
}

body .section2 .productList .product .buyProductButton {
  background-color: var(--firstColor);
  border: 2px solid var(--thirdColor);
  width: 100%;
  height: 33px;
  padding: 0 30px;
  margin-top: 15px;
  border-radius: 4px;
  font-size: 18px;
  color: var(--thirdColor);
  cursor: pointer;
}

body .section2 .divButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 40px 0;
}

body .section2 .divButton .evenMoreProducts {
  font-family: Arial, Helvetica, sans-serif;
  background-color: white;
  border: 2px solid var(--thirdColor);
  height: 44px;
  padding: 0 37px;
  border-radius: 4px;
  font-size: 17px;
  color: var(--thirdColor);
  cursor: pointer;
}

body .section3 {
  width: 1000px;
  border-top: 2px solid var(--thirdColor);
  margin-top: 95px;
  padding-top: 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

body .section3 .separator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section3 .separator span {
  color: var(--thirdColor);
  font-size: 20px;
  font-weight: bold;
  background-color: white;
  letter-spacing: -0.5px;
  margin-top: -70px;
  position: absolute;
  padding: 3.5px 20px 0 20px;
}

body .section3 .phrase {
  font-size: 15px;
  margin: 0 0 30px 0;
  color: var(--thirdColor);
}

body .section3 .friendForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section3 .friendForm .leftSide, body .section3 .friendForm .rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 22px;
}

body .section3 .friendForm label {
  font-size: 13px;
  margin-bottom: 5px;
  color: var(--thirdColor);
}

body .section3 .friendForm input {
  width: 390px;
  height: 30px;
  margin-bottom: 15px;
  border: 2px solid var(--thirdColor);
}

body .section3 .sendFriendInfo {
  margin-top: 10px;
  background-color: white;
  width: 300px;
  height: 42px;
  border-radius: 5px;
  border: 2px solid var(--thirdColor);
  color: var(--thirdColor);
  font-size: 18px;
  letter-spacing: 0;
  cursor: pointer;
  margin-bottom: 50px;
}

body footer {
  width: 100%;
  height: 350px;
  background-color: var(--secondColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

body footer .triangle2 {
  width: 100%;
  height: 200px;
  background-color: white;
  -webkit-transform: rotate(-4deg) skewX(-3.6deg) scaleX(1.003);
          transform: rotate(-4deg) skewX(-3.6deg) scaleX(1.003);
  z-index: 2;
  position: absolute;
  bottom: 265px;
}

body footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 0 0 0;
}

body footer div span {
  margin: 4px 0;
  color: var(--darkWhieSmoke);
  font-size: 13px;
}
/*# sourceMappingURL=style.css.map */