:root {
  --primaryColor: rgb(110, 109, 109);
  --secondaryColor: rgb(126, 126, 126);
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header {
  width: 100%;
  color: white;
  background-color: var(--primaryColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 400px;
  position: relative;
}

body .header .firstLine {
  margin-top: 70px;
  font-weight: 250;
  font-size: 20px;
  color: #dfdede;
}

body .header .secondLine {
  font-size: 43px;
}

body .header .thirdLine {
  font-size: 16px;
  margin: 25px 0 30px 0;
  color: #dfdede;
}

body .header .buttonList {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

body .header .buttonList .button {
  height: 44px;
  width: 175px;
  background-color: white;
  color: var(--secondaryColor);
  font-size: 15px;
  border-radius: 3px;
  border: 1px solid whitesmoke;
  margin: 0 25px 0 25px;
  -webkit-box-shadow: 0px 2px 2px #707070;
          box-shadow: 0px 2px 2px #707070;
  cursor: pointer;
}

body .triangle {
  width: 100%;
  height: 120px;
  background-color: white;
  -webkit-transform: rotate(3deg) skewX(5.5deg) scaleX(1.005) scaleY(1.2);
          transform: rotate(3deg) skewX(5.5deg) scaleX(1.005) scaleY(1.2);
  position: absolute;
  top: 350px;
}

body .section1 {
  color: #adadad;
  width: 50%;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .section1 .leftSide {
  width: 60%;
  padding-right: 20px;
}

body .section1 .leftSide .title {
  margin-bottom: 15px;
  font-weight: 250;
  font-size: 20px;
  color: var(--secondaryColor);
}

body .section1 .leftSide p {
  font-size: 14px;
  margin-bottom: 10px;
}

body .section1 .rightSide {
  width: 40%;
  padding-left: 20px;
}

body .section1 .rightSide form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .section1 .rightSide form label {
  color: var(--primaryColor);
  font-size: 14px;
  margin-bottom: 5px;
}

body .section1 .rightSide form input {
  margin-bottom: 15px;
  height: 30px;
  border: 2px solid var(--secondaryColor);
}

body .section1 .rightSide form .man, body .section1 .rightSide form .woman {
  margin-right: 20px;
}

body .section1 .rightSide form .radio {
  display: none;
}

body .section1 .rightSide form .radio + label:before {
  content: "";
  width: 10px;
  height: 10px;
  border-radius: 7px;
  background-color: white;
  border: 1px solid gray;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  vertical-align: middle;
}

body .section1 .rightSide form .radio:checked + label:before {
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 5px solid gray;
}

body .section1 .rightSide .buttonSubmit {
  background-color: white;
  border: 2px solid var(--primaryColor);
  width: 100%;
  height: 40px;
  padding: 0 30px;
  margin-top: 15px;
  border-radius: 6px;
  font-size: 17px;
  cursor: pointer;
  color: var(--secondaryColor);
}

body .separator {
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 40px 0;
}

body .separator span {
  color: #6e6d6d;
  font-size: 20px;
  font-weight: bold;
}

body .separator hr {
  width: 37%;
  border-top-style: hidden;
  border-right-style: hidden;
  border-bottom-style: inset;
  border-left-style: hidden;
  border-bottom-color: var(--primaryColor);
}

body .section2 {
  width: 50%;
  height: 1000px;
}

body .section2 .productList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

body .section2 .productList .product {
  width: 200px;
  margin: 10px;
}

body .section2 .productList .product .productImage {
  width: 200px;
  height: 160px;
}

body .section2 .productList .product .productName {
  font-size: 15px;
  color: var(--secondaryColor);
  margin: 10px 0;
}

body .section2 .productList .product .productDescription {
  font-size: 13px;
  color: var(--secondaryColor);
  margin: 10px 0;
}

body .section2 .productList .product .productOldValue {
  font-size: 13px;
  color: var(--secondaryColor);
  margin: 10px 0;
}

body .section2 .productList .product .productCurrentValue {
  margin: 5px 0;
  color: var(--secondaryColor);
  font-weight: bold;
  font-size: 20px;
}

body .section2 .productList .product .productPaymentOption {
  font-size: 12px;
  margin: 5px 0;
  color: var(--secondaryColor);
}

body .section2 .productList .product .buyProductButton {
  background-color: white;
  border: 1px solid var(--primaryColor);
  width: 100%;
  height: 33px;
  padding: 0 30px;
  margin-top: 15px;
  border: 2px solid var(--secondaryColor);
  border-radius: 4px;
  font-size: 17px;
  cursor: pointer;
  color: var(--secondaryColor);
}

body .section2 .divButton {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0;
}

body .section2 .divButton .evenMoreProducts {
  background-color: white;
  border: 1px solid var(--primaryColor);
  height: 35px;
  padding: 0 30px;
  border-radius: 3px;
  font-size: 17px;
  cursor: pointer;
  color: #7e7e7e;
}

body .section3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .section3 .phrase {
  font-size: 16px;
  margin: 0 0 30px 0;
  color: var(--secondaryColor);
}

body .section3 .friendForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .section3 .friendForm .leftSide, body .section3 .friendForm .rightSide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px;
}

body .section3 .friendForm label {
  font-size: 14px;
  margin-bottom: 5px;
  color: var(--secondaryColor);
}

body .section3 .friendForm input {
  width: 400px;
  height: 30px;
  margin-bottom: 15px;
  border: 2px solid var(--secondaryColor);
}

body .section3 .sendFriendInfo {
  margin-top: 10px;
  background-color: white;
  width: 280px;
  height: 45px;
  border-radius: 5px;
  border: 2px solid var(--secondaryColor);
  color: var(--secondaryColor);
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 100px;
}

body .triangle2 {
  width: 100%;
  height: 130px;
  background-color: white;
  -webkit-transform: rotate(-3deg) skewX(-4.9deg) scaleX(1.005) scaleY(1.2);
          transform: rotate(-3deg) skewX(-4.9deg) scaleX(1.005) scaleY(1.2);
  position: absolute;
  bottom: -800px;
}

body footer {
  width: 100%;
  height: 300px;
  background-color: var(--primaryColor);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body footer div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 70px 0 0 0;
}

body footer div span {
  margin: 4px 0;
  color: whitesmoke;
  font-size: 13px;
}
/*# sourceMappingURL=style.css.map */